<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Up'percut</title>
  <link href="../reset.css" rel="stylesheet" />
  <link href="../css/global_style.css" rel="stylesheet" />
  <link media="screen and (max-width: 550px)" rel="stylesheet" href="../css/mobile_style.css" />
  <link media="screen and (min-width:  550px) and (max-width: 1000px)" rel="stylesheet" href="../css/medium_style.css" />
  <link  media="screen and (min-width: 1000px)" href="../css/global_style.css" rel="stylesheet" />
  <script type="text/javascript"  src="../scripts/filtersScript.js" defer></script>
  <script type="text/javascript"  src="../scripts/menuScript.js" defer></script>
  <script type="text/javascript"  src="../../js/modules.js" defer></script>
</head>


<body>

  <header>

 <a href="/">
      <picture>
        <source 
        media="(max-width: 550px)"
        srcset="../images/banniere-mobile.png">
     <source 
        media="(min-width: 550px)"
        srcset="../images/banniere-medium.png">
     <source 
        media="(min-width: 800px)"
        srcset="../images/banniere-desk.png">
    <img  id="banniere" src="../images/banniere-desk.png" alt="bannière du forum Uppercut"/>
      </picture>
  </a>
     
  <div id="nav-filters">
    <nav id="navigation">     
      <a class="nav-item " href="/type/conferences">Conférences</a>
      <a class="nav-item " href="/type/debats">Débats</a>
      <a class="nav-item " href="/type/ateliers">Ateliers</a>
      <a class="nav-item " href="/type/rencontres">Rencontres</a>
    </nav>

    <div id="filters-zone">
    <select onchange="showFilter()" name="search-filter" id="filter-select">
      <option value="question">Rechercher un évènement...</option>
      <option value="lieu">Lieu</option>
      <option value="type">Type d'activité</option>
      <option value="heure">Horaire</option>
    </select>

    <select onchange="dispatch()" name="place-filter" id="place"  class="hidden">
      <option value="place-question">Choisir un lieu :</option>
      <option value="amphi1">Amphi 1</option>
      <option value="amphi2">Amphi 2</option>
      <option value="amphi4">Amphi 4</option>
      <option value="ecole-buissoniere-crous">École buissonière - CROUS</option>
      <option value="ecole-buissonniere-salle3">École buissonière - salle 3</option>
      <option value="place-engagement">Place de l'engagement</option>
      <option value="co-quartier">Co-quartier</option>
      <option value="bibli-auditorium">Bibli - auditorium</option>
      <option value="bibli-bar">Bibli - bar</option>
      <option value="librairie">Librairie</option>
      <option value="barrack">La barrack</option>
      <option value="bureaux">Les bureaux</option>
    </select>

    <select onchange="dispatch()" name="type-filter" id="type" class="hidden">
      <option value="place-question">Choisir une activité :</option>
      <option value="conferences">Conférences</option>
      <option value="ateliers">Ateliers</option>
      <option value="debats">Débats</option>
      <option value="rencontres">Rencontres</option>
    </select>

    <select onchange="dispatch()" name="time-filter" id="time" class="hidden">
      <option value="time-question">Choisir un horaire :</option>
      <option value="14h">14h</option>
      <option value="15h">15h</option>
      <option value="16h">16h</option>
      <option value="17h">17h</option>
      <option value="18h">18h</option>
    </select>
    <a id="specialUrl" class="hidden"  href="">Rechercher</a>
    </div>


  </div>
  </header>