<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>Up'percut</title>
  <link href="../reset.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />

</head>


<body>

  <header>

    <img src="../images/banniere.png", alt="Banniere du forum Uppercut"/>
    <nav>
      <ul>
        <li><a href="/"><img id="logo-accueil" src="../images/favicon.png"></a></li>
        <li><a href="/galerie/sketchbook">Conférences</a></li>
        <li><a href="/galerie/itineraire">Ateliers</a></li>
        <li><a href="/galerie/futur">Débats</a></li>
        <li><a href="/galerie/bouger">Rencontres</a></li>
      </ul>
    </nav>
  </header>