<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>Up'percut</title>
  <link href="../reset.css" rel="stylesheet" />
  <link href="../styles.css" rel="stylesheet" />

</head>


<body>

  <header>

    <img src="../images/banniere.png", alt="Banniere du forum Uppercut"/>
    <nav>
      <ul>
        <li><a href="/"><img id="logo-accueil" src="../images/favicon.png"></a></li>
        <li><a href="/galerie/sketchbook">La Place aux Solutions</a></li>
        <li><a href="/galerie/itineraire">Itinéraire d'un citoyen heureux</a></li>
        <li><a href="/galerie/futur">Inventer des futurs possibles</a></li>
        <li><a href="/galerie/bouger">Râler ou bouger ... à nous de choisir</a></li>
        <li><a href="#">Les capsules</a></li>
        <li><a href="#">Les éditions précédentes</a></li>
        <li><a href="/contact">Contact & inscription</a></li>
      </ul>
    </nav>
  </header>