<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8" />
  <title>Up'percut</title>
  <link href="../reset.css" rel="stylesheet" />
  <link href="../css/global_style.css" rel="stylesheet" />
  <link media="screen and (max-width: 550px)" rel="stylesheet" href="../css/mobile_style.css" />
  <link media="screen and (min-width:  550px) and (max-width: 1000px)" rel="stylesheet" href="../css/medium_style.css" />
  <link  media="screen and (min-width: 1000px)" href="../css/global_style.css" rel="stylesheet" />

</head>


<body>

  <header>
  
    <img src="../images/banniere.png", alt="Banniere du forum Uppercut"/>
  
    <nav>
      <ul>
        <li><a href="/">  
          <svg width="70" height="73" viewBox="0 0 70 73" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M44.3286 46.9294C44.3286 46.9294 72.9176 26.2987 69.7464 2.68725C69.715 2.28629 69.5561 1.90593 69.2928 1.60185C69.0005 1.33082 68.6251 1.16667 68.2277 1.1361C45.1548 -2.10795 24.998 27.1452 24.998 27.1452C7.51009 25.0513 8.78179 28.5384 0.803286 47.703C-0.723565 51.3561 1.75099 52.6156 4.46449 51.5869L13.1639 48.3024L23.6534 59.0268L20.4417 67.9327C19.4373 70.711 20.6645 73.2423 24.2406 71.683C42.9678 63.5182 46.3779 64.8224 44.3286 46.9294V46.9294ZM48.4151 22.9696C47.2499 21.7656 46.5985 20.1557 46.5985 18.4802C46.5985 16.8047 47.2499 15.1948 48.4151 13.9908C48.9848 13.4037 49.6665 12.9369 50.42 12.6181C51.1734 12.2994 51.9832 12.1351 52.8012 12.1351C53.6193 12.1351 54.4291 12.2994 55.1825 12.6181C55.9359 12.9369 56.6177 13.4037 57.1874 13.9908C58.3526 15.1948 59.004 16.8047 59.004 18.4802C59.004 20.1557 58.3526 21.7656 57.1874 22.9696C56.6177 23.5568 55.9359 24.0236 55.1825 24.3423C54.4291 24.6611 53.6193 24.8253 52.8012 24.8253C51.9832 24.8253 51.1734 24.6611 50.42 24.3423C49.6665 24.0236 48.9848 23.5568 48.4151 22.9696Z" fill="#00ABB3"/>
          </svg></a></li>
        <li><a href="/type/conferences">Conférences</a></li>
        <li><a href="/type/ateliers">Ateliers</a></li>
        <li><a href="/type/debats">Débats</a></li>
        <li><a href="/type/rencontres">Rencontres</a></li>
      </ul>
    </nav>
  </header>