<div class="news">

    <button>&lt;</button>

    <div id="news_container">
        <% for (let newImage of newImages){%>
        <div class="news_content">
            <figure class="news_image">
                <img src="<%= newImage.image %>" alt="<%= newImage.alt %>" />
            </figure>

            <article class="news_article">Et ici, il y aura du texte décrivant l'image. Chaque objet 'image' du tableau
                .json
                aura une prop
                'article', même si c'est une string vide. Ici : <%= newImage.alt %>
            </article>
        </div>
        <%};%>
    </div>

    <button>&gt;</button>
</div>