body {
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(  #ffdf11, #00ABB3 );
}

header img {
    width: 100%;
    margin-bottom: -1em;
}

nav ul {
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.6em;
}

nav ul li {
    margin: 0.6em;;
}  

nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
}

#logo-accueil{
    width: 70%;
}

/*LES FILTRES DE RECHERCHE*/

#filters-zone{
    padding: 2em;
    align-items: center;
        background-color: #00ABB3;
}

#filter-select, #place, #type, #time, #specialUrl{
    padding: 0.7em;
     color: #00ABB3;
}
 #specialUrl{
    text-decoration: none;
    color: #00ABB3;
    font-size: 0.9em;
    background-color: #ffffff;
 }

h1 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem;
    line-height: 1.5em;
}


/*LES VIGNETTES*/

/*Les contenants, fonds et marges*/
.gallery-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gallery_thumbnail{
    background-color: #ffffff;
    border-radius: 3px;
    width: 100%;
    margin: 1em;
}

.gallery_thumbnail_content{
    text-decoration: none;
    color: rgb(16, 16, 16);
}


/*les titres et sous-titres des vignettes*/
h2 {
    color: #ffffff;
    padding: 0.7em;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.6em;
    line-height: 1.5em;
}

.conferences{
    background-color: #00ABB3;
}
.subheader_conferences{
    color: #00ABB3;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0em 1em 0em;
}

.debats{
    background-color: #0039ab;
}
.subheader_debats{
    color: #0039ab;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0em 1em 0em;
}

.ateliers{
    background-color: #dfc100;
}
.subheader_ateliers{
    color: #dfc100;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0em 1em 0em;
}
.rencontres{
    background-color: #009c22;
}
.subheader_rencontres{
    color: #009c22;
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
    margin: 0.5em 0em 1em 0em;
}

/* Les contenu des vignettes*/
.thumbnail_line{
    margin-top: 0.5em;
    display: flex;
}
.thumbnail_svg{
    margin-right: 0.7em;
}

.thumbnail_content{
    margin: 1em;
}

.thumbnail_hour{
    font-size: 1.3em;
    font-weight: bold;
}
.thumbnail_place{
    text-transform: uppercase;
    font-weight: 600;
}
.thumbnail_speakers{
    display: flex;
    justify-content: space-between;
}
.speaker-name{
    margin-right: 0.6em;
}


footer {
    text-align: center;
}


/* cache et mise en page de la popup */

#popup_container {
    z-index: 3;

}

/* comment faire en sorte que la modale soit scrollable, et pas l'arrière plan? */
.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    /*transition: opacity 500ms;*/
    visibility: hidden;
    opacity: 0;
}

.popup-overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 2em;
    padding: 10px;
    width: 90%;
    position: relative;
        overflow:auto;
    /*transition: all 5s ease-in-out;*/
}

.popup h2 {
    margin-top: 0;
    margin-bottom: 2rem;
    color: #ffffff;
}

/* Contenu de la popup */

.popup-link{
    color: #00ABB3;
    margin-left: 2em;
}

.popup-link_title{
    text-decoration: none;
}

.popup_image {
    position: relative;
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: auto;
}

.popup_content {
    background-color: #ffffff;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0%;
    font-family: Tahoma, Arial, sans-serif;
}

.popup_thumbnail_line{
    margin-top: 1.7em;
    margin-bottom: 0.4em;
    display: flex;
}


.popup_speaker-name{
    margin-top: 1.7em;
    font-weight: bold;
}
.popup_speaker-desc{
line-height: 1.5em;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
}

/*Pour les menu de rechrche avec filtres:*/
.hidden{
    display: none;
}